h2{
    text-align: center;
    color: #0062cc;
    box-sizing: content-box;
    margin-top: 5px;
    background-color: aquamarine;
    margin: 0 800px;
    border-radius: 1rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2); 
}
.container,
.row,
.h2{
    text-align: center;
}

.login-container{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.login-container form{
    padding: 10%;
}
.login1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login1 h3{
    text-align: center;
    
}
.login2{
    background-color: #0062cc;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login2 h3{
    text-align: center;
    color: white;
}
.login2 .Forgotpass{
    color: white;
}
.btn-primary {
    width: 50%;
    border-radius: 1rem;
    padding: 2%;
    border: none;
    cursor: pointer;
}
.login1 .btn-primary {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login2 .btn-primary {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
